.MainSection {
	width: 75%;
	padding: 0.5rem;
}

@media (max-width: 320px) {
	.BannerMobileSmall {
	    margin-top: 0.5rem;
	}
}

@media (max-width: 375px) {
	.BannerMobileSmall {
	    margin-top: 0.5rem;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 10px;
	}
}
