.MainSection {
	width: 75%;
	padding: 0.5rem;
}

@media (max-width: 320px) {
	.BannerMobileSmall {
	    margin-top: 0.5rem;
	}
}

@media (max-width: 412px) {
	.BannerMobileSmall {
	    height: 4500px;
	}
	.banner {
		height: 450px;
	}
}
