.CardAction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.Category{
 /* visibility: hidden; */
}



@media (max-width: 670px) {
    .Category{
        visibility: hidden;
    }
}