.HeroSection {
	/* margin-top: 3rem; */
}

.HeroPaper {
	display: flex;
	padding: 1rem;
}

.HeroForMobileSmall {
	display: none;
}

.banner {
	display: none;
}

.BannerMobileSmall {
	width: 100%;
}

.CatalogSection {
	margin-top: 170px;
}

.caption {
}

.ItemCard {
	position: relative;
}
.catalogTitle {
	text-align: center;
}

.Favourite {
	position: absolute;
	top: 0;
	margin-top: 3px;
	margin-left: 3px;
	color: #872eb0;
}

.CardImage {
}
/* media queries */
@media (max-width: 767px) {
	.CatalogSection{
		margin-top: 30px;
	}

	.ItemCard{
		width: 350px;
		margin-bottom: 20px;
	}

	.CardImage {
		height: 360px;
	}

}
@media (max-width: 320px) {
	.HeroPaper {
		display: none;
	}
	.ItemCard {
		max-width: 250px;
	}
	.CatalogSection {
		display: block;
		height: 100%;
	}
	.caption {
		display: flex;
		justify-content: space-between;
	}
	/* .Tagline{
		margin-right: 0px;
	} */
}

/* @media (max-width: 375px) {
	.ItemCard {
		max-width: 0px;
	}
} */

@media (max-width: 376px) {
	.ItemCard {
		width: 260px;
	}
	.CardImage {
		height: 270px;
	}
}

@media (max-width: 412px) {
	.BannerlargeScreen{
		display: none;
	}
	.banner {
		display: block;
	}

	.ItemCard {
		min-width: 170px;
		margin-bottom: 1rem;
	}

	.CatalogSection {
		display: block;
		height: 100%;
	}
	.caption {
		display: flex;
		justify-content: space-between;
	}
}
