.HeroSection {
	margin-top: 3rem;
}

.HeroPaper {
	display: flex;
	padding: 1rem;
}

.HeroForMobileSmall {
	display: none;
}

.CatalogSection{
	display: none;
}

.caption {

}

/* media queries */
@media (max-width: 320px) {
	.HeroPaper {
		display: none;
	}
	.CatalogSection{
		display: block;
		height: 100%;
	}
	.caption {
		display: flex;
		justify-content: space-between;
	}
	
}


